@use './variables' as *;
@use './mixins' as *;

//最低限のリセット
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body,
main {
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: rgb(218, 225, 209);
  padding: 0;
  width: 100%;
}

footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header--------------------------------*/
.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 3;
  transition: 400ms;
  
}

@media only screen and (max-width: 768px) {
  .c-header {
    padding: 10px;
    background-color: #ffffff; //768以下背面白に
  }
}

.c-header .l-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-header__logo {
  font-size: 30px;
  padding-left: 40px;
}

@media only screen and (min-width: 769px) {
  .c-header__sp {
    height: auto !important;
  }
}

@media only screen and (min-width: 769px) {
  .c-header .c-toggle {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .c-header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  //sp版のnav
  .c-header__sp {
    pointer-events: none;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 19px;
    left: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 9;
    transition: 0.25s ease-out;
  }

  .c-header__sp.fadeInDown {
    animation-name: none !important;
    animation-duration: inherit
  }
}

@media only screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .c-nav {
    font-family: var(--font-base);
    font-style: normal;
    font-weight: bold;
    margin-top: 80px;
  }

  .c-header .c-nav {
    display: block;
    width: 100%;
    padding-left: 55px;
  }

  .c-header .c-nav__menu {
    display: block;
    width: 100%;
    flex-direction: column;
    margin-bottom: -250px;
    height: 100vh; //navの高さを画面全体にする
  }

  .c-nav__menu li a {
    font-size: 26px;
  }

  .c-header .c-nav__menu a {
    font-size: 1.4rem;
    padding: 15px 0;
    display: block;
    text-decoration: none;
    color: #000;
  }

  //モバイル版の見え方
  .c-sns {
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .c-header__logo {
      font-size: 20px; /* 500px以下でのフォントサイズ */
  }
}

 .c-sns li a img {
   width: 100%;
   height: 100%;
 }

// /* スマホサイズ向けのスタイル */
// @media (max-width: 768px) {
//   .c-sns li a img {
//     width: 24px;
//     height: 24px;
//   }
// }

//------ハンバーガーメニュー--------

@media screen and (max-width:768px) {

  .openbtn {
    /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
    position: relative;
    background: #000000;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    z-index: 999;
    /*ボタンを最前面に*/
  }

  /*ボタン内側*/
  .openbtn span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: #fff;
    width: 45%;
  }

  .openbtn span:nth-of-type(1) {
    top: 13px;
  }

  .openbtn span:nth-of-type(2) {
    top: 19px;
  }

  .openbtn span:nth-of-type(3) {
    top: 25px;
  }

  .openbtn span:nth-of-type(3)::after {
    content: "Menu";
    /*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top: 5px;
    left: -2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
  }

  /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
  .openbtn.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn.active span:nth-of-type(3) {
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

  .openbtn.active span:nth-of-type(3)::after {
    content: "Close";
    /*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
    top: 5px;
    left: 4px;
  }
}

/*=========ハンバーガーメニューここまで ===============*/

.c-header__sp .c-nav ul {
  display: flex;
  list-style-type: none;
}

.c-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-nav li {
  margin-right: 40px;
}

.c-nav__menu {
  margin-right: 100px;
}

//------予約ボタン--------
@media only screen and (max-width: 768px) {
  .btn--fixed.fadeInDown {
    animation-name: none !important;
    animation-duration: inherit !important;
  }
}

.btn--fixed.ver2 {
  background-color: #ffffff;
  color: #ceccb5;
  box-sizing: border-box;
  border: 2px solid #ceccb5;
  font-weight: bold;
  width: 65px;
  text-decoration: none;
  height: 200px;
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 40px;
  font-size: 1.8rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #ceb89c;
    color: #ffffff;
    line-height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .btn--fixed.ver2 {
    font-size: 22px; /* 500px以下でのフォントサイズ */
        padding: 8px 16px; /* パディングも調整 */
        height: 200px;
     width: 50px;
  }
}
//pc版ヘッダーの文字
@media only screen and (min-width: 768px) {
  .c-nav__menu li a {
    transition: all 1s;
    text-decoration: none;
    font-size: 16px; 
    font-weight: bold;
    color: #000000;

    &:hover {
      color: #f79e2a;
    }
  }
}

/*=========予約ボタンここまで ===============*/
//------メイン写真--------
.image-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-image {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 35%;
  height: auto;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 121, 96, 0.38);
}

@media (max-width: 768px) {
  .image-wrapper {
   margin-top: 80px;
    width: 100%;
    height: auto;
  }
  
  .logo-image {
    max-width: 40%;
  }
}

/*========= メイン写真ここまで ===============*/
//------news--------
.news__header {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.news__icon {
  margin: 0 10px; /* アイコンとテキストの間にスペース */
  height: 40px; /* アイコンの高さを調整 */
  width: auto; /* アスペクト比を保持 */
}

.news__header {
  display: flex;
  align-items: center; /* アイコンとテキストを中央揃え */
  padding-top: 80px;
}

.news__icon {
  height: 40px; /* アイコンの高さを調整 */
  width: auto;
  margin: 0 10px;
}

.news__heading {
  font-size: 40px;
  line-height: 40px;   /* アイコンの高さに合わせて行の高さを調整 */ margin: 0;
}

.c-news {
  padding-top: 60px;
  background-color: #FFF7E6;
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}

.news__list {
  margin-top: 80px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__item {
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 850px;
  overflow: hidden;
}

.news__link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: inherit;
  margin-bottom: 40px;
  pointer-events: none; /* すべての段落のクリックを無効にする */
  cursor: default; /* カーソルを通常の状態にする */
}

.news__cover-wrapper {
  flex-shrink: 0;
  margin-right: 40px;
}

.news__cover {
  max-width: 350px;
  height: 300px;
}

.news__topic {
  pointer-events: auto; /* 指定したトピックはクリック可能にする */
}
 
.news__content1 {
  flex-grow: 1;
}

.news__content2 {
  margin-right: 60px;
}

.news__date,
.news__date1,
.news__topic,
.news__title {
  text-align: left;
  margin: 0;
}

.news__date1 {
  margin-top: 50px;
  padding-bottom: 0;
}

.news__item:nth-child(2) .news__link {
  flex-direction: row-reverse;
}


.news__topic {
  font-family: var(--font-base);
  font-size: 22px;
  font-weight: bold;
}


.news__title {
  font-family: var(--font-base);
  font-size: 20px;
  font-weight: inherit;
}

.news__topic {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.news__topic::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.news__topic:hover {
  transform: translateY(-5px);
}

.news__topic:hover::after {
  transform: scaleX(1);
}

.news__topic {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}

.news__topic::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.news__topic:hover {
  transform: translateY(-5px);
}

.news__topic:hover::after {
  transform: scaleX(1);
}

//モバイル時のスタイル
@media (max-width: 768px) {
  .news__item {
    flex-direction: column;
    text-align: center;
  }

  .news__cover-wrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .news__item:nth-child(2) .news__link {
    flex-direction: column;
  }

  .news__heading {
    font-size: 24px;
  }

 
}


@media (max-width: 768px) {
  .news__header {
    padding-top: 0;
  }
  
  .news__item {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
  }

  .news__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
  }

  .news__date,
  .news__topic,
  .news__title, 
  .news__date3{
    margin: 10px;
  }

  .news__topic {
    font-weight: bold;
  }

  .news__date {
    font-size: 1rem;
    color: #666;
  }

  .news__title {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@media (max-width: 768px) {

  .news__content1,
  .news__content2 {
    text-align: left;
  }
  .news__title3 {
    font-size: 1rem;
    
  } 
}

/*========= NEWここまで ===============*/
//-------concept-------
.c-concept {
  background-color: #fefdea;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 120px;
}

.concept__header {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.concept__heading {
  font-size: 40px;
  /* テキストサイズを調整 */
  line-height: 40px;
  /* アイコンの高さに合わせて行の高さを調整 */
  margin: 0;
  /* デフォルトのマージンをリセット */

}

.c-concept__box {
  padding-bottom: 80px;
}

c-concept #concept {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 25px;
}

.c-concept__text {
  //花と植物～
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  margin-top: 60px;

  line-height: 50px;
  text-align: center;
  font-weight: bold;
}



//レスポンシブ対応修正中



.c-concept__01,
.c-concept__02 {
  display: flex;
  /* フレックスボックスを適用 */
  align-items: center;
  /* 縦の中央揃え */
  justify-content: space-between;
  /* 要素間のスペースを均等に */
  margin-top: 100px;
  /* 上部のマージン */
  width: 90%;
  /* 幅を90%に設定 */
  padding-left: 80px;
  /* 左右のパディングを増加 */
}

.c-concept__01 {
  flex-direction: row;
  /* テキストが左、画像が右 */
}

.c-concept__02 {
  flex-direction: row;
  /* 画像が左、テキストが右 */
  margin-left: 60px;
}

.js-fade1,
.js-fade2 {
  flex: 1;
  /* テキストを可変に設定 */
  max-width: 50%;
  /* 最大幅を50%に設定 */
  margin: 0 40px;
  /* テキストと画像の間にスペース */
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  /* フォントサイズをレスポンシブに */
  line-height: 2;
  /* 行間を調整 */
}

.img-change {
  max-width: 50%;
  /* 画像の最大幅を50%に設定 */
  height: auto;
  /* 高さを自動調整 */
}

//734からレスポンシブ対応修正中




.c-concept p {
  align-items: center;
  justify-content: center;
  padding-left: 60px;
  margin: 100px;
  margin-bottom: 0;
  align-self: start;
  font-size: 26px;
  font-weight: bold;
}

.eachTextAnime span {
  opacity: 0;
}

.eachTextAnime.appeartext span {
  animation: text_anime_on 1s ease-out forwards;
}

.eachTextAnime.appeartext {
  font-size: 1.6rem;
}

@keyframes text_anime_on {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 768px) {
  .c-concept {
    padding-top: 60px;
  }
  .c-concept__01,
  .c-concept__02 {
    flex-direction: column;
    /* 縦並びに変更 */
    align-items: center;
    /* 中央揃え */
    width: 100%;
    /* 幅を100%に設定 */
    padding-left: 0;
  }

  .c-concept__02 {
    margin-left: 0px;
  }

  .img-change {
    max-width: 80%;
    /* 最大幅を90%に設定 */
   
  }

  .js-fade1,
  .js-fade2 {
    max-width: 100%;
    /* 幅を100%に設定 */
    margin:60px;
    /* マージンをリセット */
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
    /* モバイル用のフォントサイズを設定 */
  }

  .js-fade1 {
    margin-top: 0;
  }
  .c-concept__text {
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 0;
    margin: 0 30px;
  }

  .c-concept p {
    line-height: 30px;
    margin: 80px;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
  }

  .concept__heading {
    font-size: 24px;
  }

  .eachTextAnime.appeartext{
    font-size: 1.2rem;
    margin: 30px;
    margin-top: 0;
    font-weight: bold;
  }

  .c-concept__box {
    padding-bottom: 40px;
  }
}

/*========= conceptここまで ===============*/
//-------MENU--------
.menu-wrapper {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 100px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.menu__header {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.menu__heading {
  font-size: 40px;
  /* テキストサイズを調整 */
  line-height: 40px;
  /* アイコンの高さに合わせて行の高さを調整 */
  margin: 0;
  /* デフォルトのマージンをリセット */

}

.menus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu,
.offer {
  flex-basis: 33.33%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.menu img,
.offer img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.menu h2,
.offer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu p,
.offer p {
  font-size: 16px;
  line-height: 1.5;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .menu-wrapper {
    padding: 60px 0;
  }
  .menu,
  .offer {
    flex-basis: 100%;
  }

  .menu img,
  .offer img {
    height: auto;
  }

  .menu__heading {
    font-size: 24px;
  }
}

/*==================================================
スライダーのためのcss
===================================*/
.slider img {
  width: 100%;
  /*スライダー内の画像を横幅100%に*/
  height: 300px;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin: 0 10px;
  /*スライド左右の余白調整*/
}

/*=========MENUここまで ===============*/
//➞
.menu__arrow {
  display: flex;
  justify-content: flex-end;
  padding: 100px;
  margin-bottom: 50px;
}

.menu__arrow a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  position: relative;
  /* 下線のためにposition: relativeを設定 */
}

.menu__arrow a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* 下線の高さ */
  background-color: #000;
  /* 下線の色 */
}

.menu__arrow .f {
  display: inline-block;
  margin-left: 50px;
}

.menu__arrow .img-change {
  width: 40px;
  height: 20px;
  margin-left: 30px;
}

/*========= ➞ここまで ===============*/
//-------中心のイメージ写真--------
.img-change_cc {
  width: 100%;
  height: 100%;
}



//-------STORES--------
.c-stores {
  background-color: #FFF7E6;
  padding: 120px 0;
}

.store-title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 80px;
}

.stores__header {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.stores__heading {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.ol-stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ol-store {
  flex: 1 1 30%;
  /* フレックスボックスの設定 */
  margin-bottom: 2rem;
  text-align: center;
}

.ol-store-img {
  margin: 0 auto;
}

.ol-store-img img {
  width: 350px;
  /* 幅を固定 */
  height: 350px;
  /* 高さを固定 */
  object-fit: cover;
  /* アスペクト比を保持しつつ、指定サイズに収める */
  display: block;
  /* 中央揃え */
  margin: 0 auto;
  /* 中央揃え */
}

/* 特定の画像が小さくならないように調整 */
.ol-store-img img {
  display: block;
  /* 画像をブロック要素にして中央揃え */
  margin: 0 auto;
  /* 中央に揃える */
}

.store-text {
  text-align: start;
  padding-top: 10px;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .c-stores  {
    padding: 60px 0;
  }

  .ol-stores {
    flex-direction: column;
    align-items: center;
  }

  .ol-store {
    width: 80%;
    /* 幅を80%に設定 */
  }

  .stores__heading {
    font-size: 24px;

  }
}

/*=========storesここまで ===============*/
//-------ACCESS--------
.c-access {
  background-color: #FEFDEA;
  height: 950px;
  padding-top: 100px;
}

.c-access__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  transform: scale(0.8);
  /* 全体を80%に縮小 */
  transform-origin: top;
  /* 縮小の基準を上に設定 */
}

.access__header {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.access__heading {
  font-size: 36px;
  /* テキストサイズを調整 */
  line-height: 36px;
  /* アイコンの高さに合わせて行の高さを調整 */
  margin: 0;
  /* デフォルトのマージンをリセット */

}

.c-access__map img,
.c-access__map1 img,
.c-access__map2 img {
  width: 100%;
  /* 幅を親要素に合わせる */
  height: auto;
  /* 高さを自動調整 */
  max-width: none;
  /* 最大幅を解除 */
}

.c-access__map1 img,
.c-access__map2 img {
  border-radius: 50%;
  /* 角を丸める */
  object-fit: cover;
  /* 念のため */
  margin: 0;
  /* マージンをリセット */
}

.c-access__map {
  flex-basis: 60%;
}

.c-access__map1 p {
  margin-top: 100px;
}

.c-access__map img {
  width: 90%;
  height: 90%;
  margin-left: 60px;
}

.c-access__map1 img {
  margin-left: -300px;
  margin-bottom: -150px;
}

.c-access__map2 img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-top: -300px;
}

.c-access__other {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-access__map1,
.c-access__map2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.c-access__map1 {
  order: 2;
  margin-top: 30px;
}

.c-access__map1 img,
.c-access__map2 img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1rem;
  box-shadow: 15px 10px rgba(228, 226, 178, 100%),
}

.c-access__map1 p {
  padding-left: 100px;
}

.c-access__map2 p {
  padding-right: 45px;
}

.c-access__map2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  transform: rotate(45deg);
}

.c-access__map2 p {
  transform: rotate(-45deg);
  order: 1;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {

  .c-access__map1 img,
  .c-access__map2 img {
    width: auto;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 2px rgba(228, 226, 178, 100%),
  }

  .c-access__other {
    margin-right: 100px;
    margin-top: -100px;
  }

  .c-access {
    margin-bottom: -400px;
  }

  .c-access__map {
    margin-right: 0;
    margin-bottom: 280px;
    width: auto;
  }

  .c-access__map2 {
    margin-top: -80px;
  }

  .c-access__map1 img,
  .c-access__map2 img {
    max-width: 100px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .c-access__map1 p {
    font-size: 10px;
    margin-top: 0px;
    padding: 0;
  }

  .c-access__map2 p {
    font-size: 10px;
  }

  .access__heading {
    font-size: 24px;
  }
}

/*========= ACCESSここまで ===============*/
//-------Hana CAFE住所・営業時間--------
.c-access2 {
  background-color: #E5F5B8;
  height: 500px;
}

.access-title {
  font-size: 48px;
  text-align: center;
}

.c-access__list2 {
  padding: 40px;
  margin-right: -50px;
}

.c-title02 {
  font-size: 24px;
  font-weight: bold;
  padding: 50px;
}

.l-container2 {
  padding-left: 20px;
  // margin-left: 200px;
}

.c-access__details {
  display: flex;
  flex-direction: column;
  padding: 40px;

}

.c-access__details--address {
  float: left;
}

.c-access__details--hours {
  float: right;
}

.c-access__details .ttl {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.ttl {
  font-weight: bold;
  font-size: 20px;
}


.c-access__details .txt {
  line-height: 2; //行間
}

.c-access__details__box {
  margin-top: 20px;
}

.c-access__details__list .txt {
  line-height: 1.5;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .c-access__details {
    width: 100%;
    float: none;
  }

  .c-access__details--address,
  .c-access__details--hours {
    float: none;
  }

  .c-access2 {
    //background-color: #E5F5B8;
    height: auto;
  }

  .c-title02 {
    font-size: 20px;
  }
}

/*========= Hana CAFE住所・営業時間ここまで ===============*/
//-------reservation--------
.c-reservation {
  margin-top: 100px;
}

.rv__header {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.reservation__heading {
  font-size: 36px;
  /* テキストサイズを調整 */
  line-height: 36px;
  /* アイコンの高さに合わせて行の高さを調整 */
  margin: 0;
  /* デフォルトのマージンをリセット */
}

.rv__block {
  margin: 80px auto;
  /* 中央揃えのためにautoを使用 */
  width: 90%;
  /* 幅を90%に設定 */
  max-width: 600px;
  /* 最大幅を指定 */
  aspect-ratio: 16 / 9;
  /* 縦横比を16:9に設定 */
  padding: 20px;
  /* パディングを追加 */

  display: flex;
  flex-direction: column;
  /* 縦に並べる */
  justify-content: space-between;
  /* 要素を均等に配置 */
}

.rvtitle {
  font-size: 24px;
  margin-bottom: 20px;
  padding-left: 50px;
}

.rv_txt2 {
  font-size: 20px;
  padding-bottom: 30px;
}

.txt2 {
  padding-left: 100px;
}

.color-red {
  color: red;
  font-weight: bold;
  margin-left: 35%;
  /* 中央揃え */
  transform: translateX(-50%);
  /* 左右中央揃え */
}

.form-submit {
  flex-basis: 30%;
  text-align: right;
  margin-top: auto;
  /* ボタンを下部に配置 */
  margin-right: 0;
  /* 右のマージンをリセット */
  padding-right: 20px;
  /* 右のパディングを追加 */
}

.btn-rectangle {
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  background-color: #D9D9D9;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-rectangle:hover {
  background-color: #404c58;
}

@media (max-width: 768px) {

  .reservation__heading {
    font-size: 24px;
  }

  .rv__heading {
    font-size: 24px;
  }

  .rvtitle {
    font-size: 18px;
  }

  .rv_txt2 {
    font-size: 16px;
  }
}

/*========= reservationここまで ===============*/
//---------フッター写真------------
.form-img-area {
  width: 100%;
  overflow: hidden;
}

.form-img-area img {
  width: 100%;
  height: auto;
  display: block;
}
/*=========フッター写真ここまで ===============*/
// --------futter--------
footer {
  padding: 20px 0;
}

.footer__copyright {
  width: 100%;
  display: block;
  letter-spacing: 1px;
  clear: both;
  text-align: center;
  font-weight: 600;
  //font-size: 1.2rem;
  margin-top: 20px;
}

.footer__sns {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 40px;
  margin-top: -30px;

}

.footer__sns li {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    text-align: center;
  }

  .footer__copyright {
    order: 2;
    margin-top: 10px;
  }

  .footer__sns {
    margin-top: 10px;
  }
}

//画面の横幅スクロールのさく
html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {

  html,
  body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
  }

}